@font-face {
  font-family: 'BebasNeue';
  src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block; /* 'block' prevents the flicker/swap */
}

:root {
  --font-family-heading: 'BebasNeue', sans-serif;
  /* --pico-font-size: 40px; */
}

.sticky-controls {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-block: var(--pico-spacing);
  background: var(--pico-background-color);
  border-bottom: 1px solid var(--muted-border-color);
}

.playlist-chips {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* optional: nicer feel on mobile? */
/* .playlist-chips {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;
  padding-bottom: var(--pico-spacing);
} */

.playlist-chips button {
  flex: 0 0 auto;
  white-space: nowrap;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0.5em;
  padding-bottom: 0;
}

.header h1 {
  font-family: var(--font-family-heading);
  --pico-font-size: 2.75rem;
  color: var(--pico-primary);
  margin-bottom: 0;
  transition: color var(--pico-transition);
  text-align: center;
}

.header a {
  text-decoration: none;
}

.header h1:hover {
  color: var(--pico-primary-hover);
}
